{% extends 'vote/base.html'%}
{% load static %}

{% block css %}
<style>
    .center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
{% endblock css %}
{%block content%}

{% include 'vote/header.html' %}

<div class="container">
    <div class="row center">
        <div class="">
            <h3 class="text-success text-center">Congratulations </h3>
            <p class="text-center">
                Here is your unique entry code. 
                Please write it down and save it somewhere safe, or memorize it.  
                To Enter the Floor, you will also need to use the password you entered when 
                you signed up.
            </p>
            <p class="text-center"><strong>{{entry_code}}</strong></p>
            <br>
            <p class="text-center">
                <a href="{%url 'home' %}" class="btn btn-primary">Take me to my Voter Page</a>
            </p>
        </div>
    </div>
</div>

{%endblock content%}


