{%extends "vote/base.html" %}
{% load static %}

{% block css %}
<style>
  .textarea.form-control {
    height: 36px;
  }
  .user {
  text-transform: uppercase;
}
  </style>
{% endblock css%}

{%block content%}
{%include 'vote/header.html'%}
<div class="container Enter_the_Floor">

  <div class="row">
    <div class="col">
        {%if form.errors%}
          {% for error in form.errors%}
          {% if error == 'username' %}
          <div class="alert alert-danger" role="alert">
              Your username is not availible 
            </div>
            {%endif%}
          {%endfor%}
        {%endif%}

    </div>
  </div>
  <div class="center If_already">
    <h1 class="pad">Enter the Floor</h1>
      <p class="claimed"> If you've already claimed your seat,<br>
        you can enter the floor of your District Legislature (D-Leg).
        <br>
      </p>
      <a class=" btn btn-xl btn-primary" href="{%url 'EnterTheFloor' %}">Enter the Floor</a>
      <p class="claimed mt-3">Otherwise...</p>
      <h1 class="pad">Claim Your Seat</h1>
      <p class="claimed">Fill out the form below. <br>
        <strong>NOTE:</strong> Enter your district as your two-letter state postal code <br> 
        followed by a two-digit number. For instance, <br>
        the third district in Alabama would be AL03.
      </p>
  </div>

  <form class="form-horizontal form-label-left mx-auto" method="POST">
    {% csrf_token %}
      <div class="row d-flex justify-content-center">
        <div class="col col-sm-12 col-md-6" id="big-font">
          {{form.username}}

          <label for="{{ form.district.id_for_label }}">{{form.district.label}}:</label>
          {{ form.district }}
          <span class="error text-danger hide" ></span>
          {% for error in form.district.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br> <br>
      
          <label for="{{ form.name.id_for_label }}">{{form.legalName.label}}:</label>
          {{ form.legalName }}
          {% for error in form.LegalName.errors %}
          <span class="error text-danger">  
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br> <br>

          <label for="{{ form.registered.id_for_label }}">Registration Status:</label>

          <div class="form-check">
            {{form.is_reg}} 
            <label class="form-check-label" for="flexRadioDefault1">
              I am legally registered to vote in this US congressional district.
            </label>
          </div>
          {% for error in form.is_reg.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}

          <div class="form-check">
            {{form.is_reg1}}
            <label class="form-check-label" for="flexRadioDefault2">
              I believe i am eligible to vote in this district under the name and address i will provide below and i intend to register as a voter within 30 days.
            </label>
            </div>
            {% for error in form.is_reg1.errors %}
            <span class="error text-danger">
                <strong>{{ error|escape }}</strong>
            </span>
            {%endfor%}<br>
          
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{form.email}}
          <span class="error text-danger hide" ></span>
          {% for error in form.email.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br> <br>

          <label for="{{ form.address.id_for_label }}">Address:</label>
          {{form.address}}
          
          {% for error in form.address.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br> <br>
        
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          <div class="input-group">
            <input type="password" name="password1" 
            class="form-control" id="id_password" 
            style="padding: 5px 10px;" placeholder="ENTER YOUR PASSWORD"
            aria-describedby="basic-addon">
            <span class="input-group-text" id="basic-addon2">Show</span>
          </div>
          
          <span>Please enter a password with following guidelines: </span>
          <ul>
            <li>least 8 characters long</li>
            <li>includes number</li>
            <li>inlcudes upper and lower case</li>
          </ul>
          <span class="btn btn-primary" id="generatePassoword">Generate a password</span>
          <br>
          {% for error in form.password1.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br>

          <label for="{{ form.confirmation.id_for_label }}">{{form.password2.label}}:</label>
          {{ form.password2 }}
          
          {% for error in form.password2.errors %}
          <span class="error text-danger">
              <strong>{{ error|escape }}</strong>
          </span>
          {%endfor%}<br>

          <input type="submit" name="submit" value="Create my account" class="btn-xl btn-primary btn-wrap-text" data-disable-with="Create my account" />

        </div>
      </div> 
  </form>  
</div>

{%include "vote/footer.html" %}
{%endblock content%}

   
{%block js%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'signUpScript.js' %}"></script>
{%endblock js%}

